<section>
  <header class="col p-3">
    <h1>
      Welcome to Recruitment Helper
    </h1>
  </header>

  <article class="container row">
    <div class="col-5">
      <h3>
        Upcomming calls
      </h3>

      <ul class="list-group">
        <li class="list-group-item border border-secondary">
          <div class="event-card row">
            <div class="company-picture col">
              <img style="width: 100%" src="../../assets/logos/recruitment-helper-auth-logo.png" alt="">
            </div>

            <div class="col">
              <h5>
                Company Name
              </h5>

              <h6>
                HR name
              </h6>
            </div>

            <div class="col">
              <div class="row">
                Date: 07.10.2022
              </div>

              <div class="row">
                Time: 10:00
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-5 quick-actions-container">
      <h3>
        Quick actions panel
      </h3>

      <div class="row p-3 quick-actions">
        <div routerLink="/add-new-recrutation" class="btn btn-success col-5 add-button action">
            <i class="bi bi-plus-square-fill"></i>

            Add new recrutation
        </div>

        <div routerLink="/my-recrutations" class="btn btn-primary col-5 add-button action">
          <i class="bi bi-eye-fill"></i>

          Check your recrutations
        </div>
      </div>
    </div>
  </article>
</section>
