.text-align-center{
  text-align: center;
}

.nav{
  margin-left: auto;
}

.nav-link:hover{
  cursor: pointer;
}

.login-button, .register-button {
  display: flex;
  align-items: center;
  height: 60%;
  align-self: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.sign-out-button {
  margin-left: 10px;
}
