<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <div>
          <img
            style="height: 64px; width: auto; color: white"
            src="../assets/logos/recruitment-helper-logo.png"
            alt=""/>
        </div>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <div
              routerLink="home"
              class="nav-link text-white col text-align-center">

              <i class="bi bi-house-door"></i>

              <p class="m-0">
                Home
              </p>
            </div>
          </li>

          <li>
            <div
              routerLink="my-recrutations"
              class="nav-link text-white col text-align-center">
              <i class="bi bi-list-columns-reverse"></i>

              <p class="m-0">
                My recrutations
              </p>
            </div>
          </li>

          <li>
            <a href="/" class="nav-link text-white col text-align-center">
              <i class="bi bi-calendar-date"></i>

              <p class="m-0">
                Calendar
              </p>
            </a>
          </li>

          <li>
            <a href="/" class="nav-link text-white col text-align-center">
              <i class="bi bi-sticky"></i>

              <p class="m-0">
                Notes
              </p>
            </a>
          </li>

          <li class="d-flex">
            <button
              routerLink="log-in"
              type="button"
              class="btn btn-outline-light me-2 login-button">

              Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
