<section class="form-signin w-25 m-auto">
  <form (ngSubmit)="identityUser()" [formGroup]="loginForm">
    <img
      class="mt-5 mb-4 mx-auto d-block auth-logo"
      src="../../assets/logos/recruitment-helper-auth-logo.png"
    />

    <h1 class="h3 mt-5 mb-2 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"/>

      <label for="floatingInput"> Email address </label>
    </div>

    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"/>

      <label for="floatingPassword"> Password </label>
    </div>

    <button
      class="w-100 btn btn-lg btn-primary mt-3"
      type="submit"
    >
      Sign in
    </button>
  </form>
</section>
