<section class="container-fluid p-4">
  <header class="header">
    <h1 class="fs-1">
      Add new recrtutation
    </h1>

    <hr />
  </header>

  <article>
    <form (ngSubmit)="onSubmit()" [formGroup]="_form">
      <div class="row w-100">
        <div class="col-5 border-end">
          <h6 class="mt-3 text text-primary">
            Basic informations:
          </h6>

          <hr class="border border-primary border-1 opacity-50" />

          <form
            formGroupName="basicInformations"
            [formGroup]="basicInformationsForm">

            <label for="company-name" class="form-label">
              Company name
            </label>

            <input
              id="company-name"
              type="text"
              class="form-control"
              [class.border-danger]="
                !basicInformationsForm.controls['companyName'].valid &&
                basicInformationsForm.controls['companyName'].touched"
              formControlName="companyName"/>

            <small
              *ngIf="
                !basicInformationsForm.controls['companyName'].valid &&
                basicInformationsForm.controls['companyName'].touched"
              class="text text-danger">

              Company Name is required
            </small>

            <br />

            <label for="company-description" class="form-label mt-3">
              Company description
            </label>

            <textarea
              id="company-description"
              class="form-control"
              placeholder="Say something about that company..."
              formControlName="companyDescription">
            </textarea>

            <label for="position" class="form-label mt-3">
              Position
            </label>

            <input
              id="position"
              type="text"
              class="form-control"
              formControlName="position"
              [class.border-danger]="
                !basicInformationsForm.controls['position'].valid &&
                basicInformationsForm.controls['position'].touched"/>

            <small
              *ngIf="
                !basicInformationsForm.controls['position'].valid &&
                basicInformationsForm.controls['position'].touched"
              class="text text-danger">
              Position is required
            </small>

            <br />

            <label for="hr-name" class="form-label mt-3">
              Recruiters' name
              </label>

            <input
              id="hr-name"
              type="text"
              class="form-control"
              formControlName="recruitersName"/>

            <label for="website-url" class="form-label mt-3">
              Website URL
            </label>

            <input
              id="website-url"
              type="text"
              class="form-control"
              formControlName="websiteUrl"/>
          </form>

          <h6 class="mt-3 text text-success">
            Work organization informations:
          </h6>

          <hr class="border border-success border-1 opacity-50" />

          <form
            formGroupName="workOrganizationInformations"
            [formGroup]="workOrganizationInformationsForm">

            <div>
              <label for="work-type" class="form-label mt-3">
                Work type
              </label>

              <select
                formControlName="workType"
                id="work-type"
                type="text"
                class="form-select"
                [class.border-danger]="
                  !workOrganizationInformationsForm.controls['workType'].valid &&
                  workOrganizationInformationsForm.controls['workType'].touched">

                <option [value]="null" disabled selected>
                  Choose work type
                </option>

                <option *ngFor="let workType of workTypes" [value]="workType">
                  {{ workType }}
                </option>
              </select>

              <small
                *ngIf="
                  !workOrganizationInformationsForm.controls['workType'].valid &&
                  workOrganizationInformationsForm.controls['workType'].touched"
                class="text text-danger">
                Work type is required
              </small>

              <br />

              <label for="work-lang" class="form-label mt-3">
                Work Language
              </label>

              <input
                id="work-lang"
                type="text"
                class="form-control"
                formControlName="workLang"
                [class.border-danger]="
                  !workOrganizationInformationsForm.controls['workLang'].valid &&
                  workOrganizationInformationsForm.controls['workLang'].touched"/>

              <small
                *ngIf="
                  !workOrganizationInformationsForm.controls['workLang'].valid &&
                  workOrganizationInformationsForm.controls['workLang'].touched"
                class="text text-danger">
                work language is required
              </small>
            </div>
          </form>
        </div>

        <div class="col-5">
          <h6 class="mt-3 text text-danger">
            Recrutation informations:
          </h6>

          <hr class="border border-danger border-1 opacity-50" />

          <form
            formGroupName="recrutationInformations"
            [formGroup]="recrutationInformationsForm">

            <label for="recru-lang" class="form-label mt-3">
              Recrutation Language
            </label>

            <input
              formControlName="recrutationLanguage"
              id="recru-lang"
              type="text"
              class="form-control"
              [class.border-danger]="
                !recrutationInformationsForm.controls['recrutationLanguage'].valid &&
                recrutationInformationsForm.controls['recrutationLanguage'].touched"/>

            <small
              *ngIf="
                !recrutationInformationsForm.controls['recrutationLanguage'].valid &&
                recrutationInformationsForm.controls['recrutationLanguage'].touched"
              class="text text-danger">
              Language is required
            </small>

            <br />

            <div class="col-xs-12 col-md-4 form-group mb-3 w-100 mt-3">
              <label for="meeting-date" class="form-label">
                Meeting Date
              </label>

              <input
                type="text"
                id="meeting-date"
                class="form-control"
                [bsConfig]="{ isAnimated: true }"
                bsDatepicker
                formControlName="meetingDate"
                [class.border-danger]="
                  !recrutationInformationsForm.controls['meetingDate'].valid &&
                  recrutationInformationsForm.controls['meetingDate'].touched"/>

              <small
                *ngIf="
                  !recrutationInformationsForm.controls['meetingDate'].valid &&
                  recrutationInformationsForm.controls['meetingDate'].touched"
                class="text text-danger">
                Meeting date is required
              </small>
            </div>

            <div class="w-100 mt-3">
              <label class="form-label">
                Meeting Hour
              </label>

              <timepicker
                formControlName="meetingHour"
                [class.border-danger]="
                  !recrutationInformationsForm.controls['meetingHour'].valid &&
                  recrutationInformationsForm.controls['meetingHour'].touched">
              </timepicker>

              <small
                *ngIf="
                  !recrutationInformationsForm.controls['meetingHour'].valid &&
                  recrutationInformationsForm.controls['meetingHour'].touched"
                class="text text-danger">
                Meeting hour is required
              </small>
            </div>

            <div class="form-check mt-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="is-salary-ranged"
                formControlName="rangedSalary"/>

              <label class="form-check-label" for="is-salary-ranged">
                Is salary ranged
              </label>
            </div>

            <div class="row mt-3">
              <div class="col-5">
                <label class="form-label" for="min-salary">
                  Min. Salary
                </label>

                <input
                  formControlName="minSalary"
                  id="min-salary"
                  type="number"
                  class="form-control" />
              </div>

              <div class="col-5">
                <label class="form-label" for="max-salary">
                  Max. Salary
                </label>

                <input
                  formControlName="maxSalary"
                  id="max-salary"
                  type="number"
                  class="form-control" />
              </div>
            </div>

            <div>
              <label
                for="employment-type"
                class="form-label mt-3">

                Employment type
              </label>

              <select
                id="employment-type"
                type="text"
                class="form-select"
                formControlName="employmentType"
                [class.border-danger]="
                  !recrutationInformationsForm.controls['employmentType'].valid &&
                  recrutationInformationsForm.controls['employmentType'].touched">
                <option [value]="null" disabled selected>
                    Choose employment type
                </option>

                <option
                  *ngFor="let employmentType of employmentTypes; index as employmentTypeIndex"
                  [value]="employmentTypeIndex">

                  {{ employmentType }}
                </option>
              </select>

              <small
                *ngIf="
                  !recrutationInformationsForm.controls['employmentType'].valid &&
                  recrutationInformationsForm.controls['employmentType'].touched"
                class="text text-danger">

                Employment type is required
              </small>
            </div>
          </form>

          <h6 class="mt-3 text text-warning">
            Extra informations:
          </h6>

          <hr class="border border-warning border-1 opacity-50" />

          <div class="row-5 mt-3">
            <form [formGroup]="extraInformationsForm">
              <div
                *ngFor="let extraInformation of extraCheckboxesArray"
                class="form-check">

                <input
                  class="form-check-input"
                  type="checkbox"
                  id="{{ extraInformation.formControlName }}"
                  [formControlName]="extraInformation.formControlName"/>

                <label
                  for="{{ extraInformation.formControlName }}"
                  class="form-check-label">
                  {{ extraInformation.label }}
                </label>
              </div>

              <label for="comments" class="form-label mt-3">
                comments
              </label>

              <textarea
                id="comments"
                class="form-control"
                formControlName="comments"
                placeholder="Say something unincluded in form...">
              </textarea>
            </form>
          </div>
        </div>
      </div>

      <hr class="border border-secondary border-1 mt-5" />

      <div class="buttons row-5 d-flex">
        <button class="btn btn-danger col-1">
          Cancel
        </button>

        <button class="btn btn-primary col-1 ms-auto">
          Clear form
        </button>

        <button type="submit" class="btn btn-success col-1">
          Add
        </button>
      </div>
    </form>
  </article>
</section>
