<section class="container-fluid p-3">
  <header class="header mt-3">
    <h1>My recrutaions list</h1>
    <hr>
  </header>

  <article>
    <div class="container text-center">
      <div class="row border-bottom">
        <div class="col">
          Company Name
        </div>

        <div class="col">
          Salary
        </div>

        <div class="col">
          Position
        </div>

        <div class="col">
          Work type
        </div>
      </div>

      <div class="row d-flex border align-items-center mt-3 recru-pill">
        <div class="col">
          Mieszkanie.pl
        </div>

        <div class="col">
          6000 PLN /MONTH
        </div>

        <div class="col">
          Junior Front-end
        </div>

        <div class="col">
          Hybrid/Remote
        </div>
      </div>
    </div>
  </article>
</section>
