<div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div *ngIf="recrutationInfo" class="modal-body">
    <h4>
      {{ recrutationInfo.companyName }}
    </h4>

    <h5>
      {{ recrutationInfo.position }}
    </h5>

    <div class="details">
      <div class="row">
        <div>
          <span class="label">
            Company description:
          </span>

          <span class="row-data">
            {{ recrutationInfo.companyDescription }}
          </span>
        </div>

        <div>
          <span>
            website:
          </span>

          <span>
          <a target="_blank" href="{{ recrutationInfo.websiteUrl }}">
            {{ recrutationInfo.websiteUrl }}
          </a>
          </span>
        </div>

        <div>
          <span>
            Work type:
          </span>

          <span>
            {{ recrutationInfo.workType }}
          </span>
        </div>
      </div>
    </div>
  </div>
